services:
  postgres:
    build:
      context: .
      dockerfile: dockerfiles/db.dockerfile
    container_name: postgres-db
    environment:
      POSTGRES_USER: priko
      POSTGRES_PASSWORD: priko123
      POSTGRES_DB: prikodb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data:
